{% load usdfilter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>user defind filters</h1>
        <h1>  {{data}}</h1>
        <h1>  {{data|swapping}}</h1>
        <h1>{{data|remove:'i'}}</h1>
        <h1>{{data|counting:'L'}}</h1>
        <h1>{{matter}}</h1>
        <h1>{{matter|upper}}</h1>
        <h1>{{matter|counting:'a'}}</h1>
    </center>
  
</body>
</html>